<html>
  <body>
    <center>
      <div style='background-color: white; max-width: 840px; margin: 0; padding: 30px;'>
        <h2 style='color: #292536; text-align: center'>Seja bem-vindo!</h2>
        <p>Foi gerado um cadastro no Sistema de Gerenciamento de Bolsas do PGCOMP para o seu e-mail.</p>
        <p>Sua senha para acesso é: {{newPassword}}</p>
        <div style='margin: 20px auto; width: 120px; padding: 10px 20px; background-color: #442d52; border-radius: 5px'></div>
      </div>
    </center>
  </body>
</html>